@model Wine

<form asp-action="Edit" asp-controller="Admin" 
      method="post" class="">
    <input type="hidden" value="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" type="number" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Year" class="form-label">Year</label>
        <input asp-for="Year" type="number" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">CategoryId</label>
        <input asp-for="CategoryId" type="number" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Category" class="form-label">Category</label>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" style="height: 150px" ></textarea>
    </div>
    <button class="btn btn-primary">Add</button>
</form>