@model IEnumerable<string>

<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Home"
   asp-route-category="">
    Home
</a>
@foreach (string category in Model)
{
    <div style="margin-top: 5px">
        <a class="btn btn-block
           @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-secondary")"
           asp-action="List"
           asp-controller="Home"
           asp-route-category="@category"
           asp-route-winePage="1">
            @category
        </a>
    </div>
}